@import url('reset.css');


.preloader__visual {
  background: url('../assets/Loader.gif') no-repeat center center;
  background-size: 70%;
  background-color: #E7E7E7;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.background-img {
  background: url('../assets/bg.png') repeat center center;
  mix-blend-mode: difference;
  opacity: 0.08;
  background-size: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

:root {
  --color-text: #1E1919;
  --color-sec: #939399;
  --color-bg: #E7E7E7;
  --color-third: #D9D9D9;
  --color-hg: #ADA3D6;
  --color-bright-text: #FFFFFF;
  --color-hg2: #F1582A;
  --color-hg3: #BFB38C;

  --font-body: "archivo-variable", sans-serif;
  --font-headers: "thermal-variable", sans-serif;

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: none;
  border: none;
  font: inherit;
  text-align: left;
}

body {
  overflow-x: hidden;
  font-family: var(--font-body);
  font-variation-settings: "wdth" 100, "wght" 400;
  line-height: 1.2;
  background-color: var(--color-bg);
}

header {
  padding: 0.5rem;
}

h1 {
  font-family: var(--font-headers);
  line-height: 0.8;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
}

#musicButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  z-index: 1000;
}

#music-button img {
  width: 100%;
  height: 100%;
}

#hero__animation {
  display: flex;
  padding: 0rem 0 2rem 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

dotlottie-player {
  width: 100%;
  max-width: 80vw;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h2 {
  margin: 1rem;
  font-size: 2.5rem;
  font-family: var(--font-headers);
  font-variation-settings: "opsz" 500, "wght" 700;
  letter-spacing: 0.07rem;
  text-align: center;
}

.word1 {
  font-style: italic;
  font-variation-settings: "opsz" 900, "wght" 900;
}

.word2 {
  font-variation-settings: "opsz" 900, "wght" 500;
  padding-left: 2rem;
}

.word3 {
  font-style: italic;
  font-variation-settings: "opsz" 900, "wght" 100;
}

.header_intro {
  padding: 1rem 0.5rem 1rem 0.5rem;
  font-size: 1.2rem;
  font-variation-settings: "wdth" 100, "wght" 300;
  letter-spacing: 0.03rem;
  font-family: var(--font-body);
  overflow: hidden;
}

.intro_emp {
  font-family: var(--font-headers);
  font-size: 1.4rem;
  font-variation-settings: "wdth" 400, "wght" 600;
  letter-spacing: 0.05rem;
}

.header_desc {
  padding: 1rem 0rem 0rem 2.5rem;
  font-size: 1rem;
  font-variation-settings: "wdth" 100, "wght" 200;
  letter-spacing: 0.05rem;
  font-family: var(--font-body);
  max-width: 40ch;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem;
  position: relative;
  z-index: 2;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav__toggle {
  background: none;
  border: none;
}

.nav__menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-bg);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
}

.nav__menu.active {
  transform: translateX(0);
}

.nav__close {
  align-self: flex-end;
  background: none;
  border: none;
  cursor: pointer;
}

.nav__list {
  list-style: none;
  padding: 2rem 0;
  margin: 0;
}

.nav__list li {
  margin-bottom: 3.5rem;
}

.nav__list a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-text);
  font-family: var(--font-headers);
  font-variation-settings: "opsz" 400, "wght" 400;
  letter-spacing: 0.15rem;
}

.nav__cta .btn {
  display: inline-block;
  width: 100%;
  padding: 1.75rem;
  background-color: var(--color-hg);
  color: var(--color-text);
  font-family: var(--font-headers);
  font-variation-settings: "opsz" 400, "wght" 800;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

#roughstart {
  padding-top: 5rem;
}

.expandable-text p {
  font-variation-settings: "wdth" 100, "wght" 300;
  letter-spacing: 0.04rem;
  overflow: hidden;
  line-height: 1.4em;
  /* Adjust line height as needed */
  max-height: calc(1.4em * 2);
  /* Display two lines of text initially */
  white-space: normal;
  /* Allow wrapping for multiple lines */
  transition: max-height 0.3s ease;
}

.expandable-text.expanded p {
  max-height: none;
}

#exp1,
#exp3 {
  padding: 1rem;
}

#exp2 {
  padding: 0rem 2rem 0rem 20vw;
}

.ref {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-style: italic;
  font-variation-settings: "wdth" 100, "wght" 100;
}

.metaltype img {
  width: 60vw;
  margin-top: 2rem;
}

.read-more {
  color: var(--color-sec);
  font-style: italic;
}

.header-with-svg {
  display: flex; /* Make the h2 a flex container */
  align-items: flex-start; /* Vertically center the text and SVG */
  gap: 1rem; /* Add some spacing between the text and SVG (optional) */
}

.svg-container {
  display: flex; /* Make the span a flex container */
  align-items: center; /* Vertically center the SVG */
}

.header-svg {
  width: 2rem; /* Adjust the size of the SVG as needed */
  height: auto; /* Maintain aspect ratio */
}

.exploremap {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.1rem;
  font-style: italic;
  font-variation-settings: "wdth" 100, "wght" 100;
  padding: 2rem 0rem 0rem 1rem;
}

.exploremap svg {
  width: 50px;
}

.taptostart {
  align-self: center;
  font-size: 1.5rem;
  text-align: center;
  font-variation-settings: "wdth" 100, "wght" 600;
  z-index: 7;
  transform: translateY(40vw);
  color: var(--color-hg2);
}

#static-map {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: 100%;
}

#interactive-map {
  display: none;
  /* Initially hidden */
  position: fixed;
  /* Position the map over the entire screen */
  top: 0;
  left: 0;
  width: 100vw;
  /* Match the viewport width */
  height: 100vh;
  /* Match the viewport height */
  transform-origin: top left;
  touch-action: none;
  z-index: 9;
  /* Bring it above all other content */
}

#interactive-map text {
  font-size: 2rem;
}

.map-desc {
  padding:1rem;
  max-width: 60ch;
  font-size: 1rem;
  font-variation-settings: "wdth" 100, "wght" 300;
  max-width: 60ch;
  line-height: 1.5;
}

.map-desc-desk {
  display: none;
}

.info-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  opacity: 0;
}

.info-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background: white;
  z-index: 10;
  overflow-y: auto;
  padding: 20px;
  border-radius: 1rem 1rem 0 0;
  font-size: 16px;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.panel-title {
  margin-top: 0;
}

.panel-img {
  height: auto;
}

.exit-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1rem;
  z-index: 11;
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

#workshop {
  margin-top: 6rem;
}

.workshop-desc {
  padding: 1rem;
  line-height: 1.35;
  font-size: 1.1rem;
  font-variation-settings: "wdth" 100, "wght" 300;
}

.stats {
padding: 2rem 0;
display: flex;
flex-wrap: wrap;
flex-direction: row;
width: 100%;
}

.stats div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  font-variation-settings: "wdth" 100, "wght" 500;
}

.stats div:nth-child(1) {
  width: 100%;
  background-color: var(--color-hg);
}

.stats div:nth-child(2) {
  width: 50%;
  background-color: #F1582A;
}

.stats div:nth-child(3) {
  text-align: center;
  width: 50%;
  padding: 0.5rem;
  color: var(--color-bright-text);
  background-color: #1E1919;
}

.stats p {
  font-size: 0.8rem;
  font-variation-settings: "wdth" 100, "wght" 100;

}

.swiper-wrapper {
  margin: 2rem 0 2rem 0;
}

.role-card {
  width: 236px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role-card-top {
  background: var(--color-third);
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  z-index: 11;
  border-radius: 0.2rem 0.2rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-slide .role-desc {
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.swiper-slide-active .role-desc {
  opacity: 1;
  background-color: var(--color-bg);
  color: var(--color-text);
  width: 120%;
}

.role-desc p {
  padding-top: 1rem;
  font-size: 1rem;
  line-height: 120%;
}

.role-card h3 {
  width: 236px;
  height: 62px;
  text-align: center;
  font-size: 1.2rem;
  font-family: "thermal-variable", sans-serif;
  text-transform: uppercase;
  font-variation-settings: "opsz" 100, "wght" 400;
  background-color: var(--color-hg);
  background-image: url("../assets/svg/decowork.svg");
  background-size: cover;
  border-top: #1E1919 solid 0.2rem;
  padding: 1rem;
}

.role-card img {
  display: block;
  margin: 0 auto;
  max-height: 200px;
  padding: 1rem;
  margin: 2rem 0 2rem 0;
}

.flip-container {
  display:none;
}

.workshop-desc1, .workshop-desc2, .workshop-desc3 {
  padding: 1rem;
  line-height: 1.35;
}

#bible {
  margin-top: 3rem;
}

#bible img {
  width: 70vw;
}

#bible p {
  padding: 1rem;
  font-size: 1.2rem;
  font-variation-settings: "wdth" 100, "wght" 300;
  line-height: 1.15;
}

.bible-learn {
  padding: 2rem;
  font-style: italic;
  font-variation-settings: "wdth" 100, "wght" 100;
}

.bible-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "thermal-variable", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  gap: 1rem;
}

.cta-plan {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-variation-settings: "opsz" 900, "wght" 800;
  width: 60vw;
  height: 4rem;
  background-color: #ADA3D6;
  padding: 1rem;
}

.cta-story {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 4rem;
  font-size: 1.2rem;
  font-variation-settings: "opsz" 900, "wght" 700;
  width: 60vw;
  color: var(--color-bright-text);
  background-color: #1E1919;
}

#connections {
  margin-top: 5rem;
}

.connections-title {
  text-align: center;
  margin: 0rem 0rem 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
}

.connections-desc {
  padding: 1rem;
  line-height: 1.5rem;
}

#letter-container {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.letter {
  position: relative;
  width: 100%; /* Set a fixed width for all letters */
  transition: transform 0.3s ease, z-index 0.3s ease;
  cursor: pointer;
}

.letter.active {
  z-index: 12;
  transform: translateY(0) scale(1.02); /* Bring to front */
}

.letter-svg {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letter-svg svg {
    max-width: 100%;
    height: auto;
}

#title-text {
  font-family: "thermal-variable", sans-serif;
  font-size: 2rem;
  text-align: center;
  font-variation-settings: "opsz" 400, "wght" 100;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.detail-view {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  z-index: 10;
  border: none;
  background:var(--color-third);
  border-radius: 8px;
}


.detail-about {
  display: flex;
  align-items: flex-start;
}

.detail-about h2 {
  text-align: start;
  font-size: 1.2rem;
  margin: 0;
  margin-left: 1rem;
}

.detail-about p {
  font-style: italic;
  font-variation-settings: "wdth" 100, "wght" 200;
  margin-left: 1rem;
}

.detail-view li {
  margin-top: 1rem;
  line-height: 1.25;
  font-variation-settings: "wdth" 100, "wght" 300;
  font-size: 1.1rem;
}

.notable-detail { 
  font-size: 0.8rem;
  font-style: italic;
  font-variation-settings: "wdth" 100, "wght" 100;
}

.detail-view img {
  max-width: 10rem; 
  height: auto; 
  display: block; 
  object-fit: contain; 
  width: 100%; 
}

#legacy {
  margin-top: 3rem;
}

#legacy p {
  padding: 1rem;
  line-height: 1.5rem;
}

.legacy-stats {
display: flex;
flex-direction: column;
align-items: center;
margin: 1rem;
}

.legacy-stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12vh;
  width: 90vw;
  margin: 1rem;
  font-size: 1.4rem;
  line-height: 1.5;
  font-variation-settings: "wdth" 100, "wght" 600;
}

.legacy-stats div span {
font-size: 1.8rem;
color: var(--color-bright-text);
font-variation-settings: "wdth" 100, "wght" 900;
line-height: 1;
}

.legacy-stats div:nth-child(2n) {
  text-align: center;
  background-color: var(--color-hg2);
}

.legacy-stats div:nth-child(2n+1) {
  text-align: center;
  background-color: var(--color-hg);
}

#stories {
  margin-top: 3rem;
}

#stories p {
  padding: 1rem;
  line-height: 1.5rem;
}

.stories-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.stories-container div {
  display: flex;
  align-items: flex-end;
  background-color: #939399;
  width: 40vw;
  height: 10rem;
}

.stories-container div span {
  padding: 1rem;
}


footer {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  border-top: var(--color-text) solid 2px;
  padding: 1rem;
}

footer h3 {
  font-size: 2rem;
  font-family: var(--font-headers);
  font-variation-settings: "opsz" 500, "wght" 700;
}

footer .cta-plan {
  width: 100%;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: var(--font-headers);
  font-variation-settings: "opsz" 100, "wght" 900;
}

.museum-info {
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.copyright {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
  font-variation-settings: "wdth" 100, "wght" 200;
}

@media (max-width: 500px) {
.header-svg {
  display: none;
}
}

@media (min-width: 840px) {
  .header-with-svg {
    justify-content: flex-end;
  }


  header {
    display:grid;
    padding: 0;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(5, 10.5rem);
  }
  h1 {
    font-size: 8rem;
    padding: 2rem;
    grid-area: 1 / 1 / 3 / 4;
  }

.header_intro {
  grid-area: 3/1 /4 / 4;
  padding: 1rem 0rem 0rem 3rem;
}

.header_desc {
  grid-area: 4/ 2 /4 / 4;
  padding: 2rem;
  font-size: 1rem;

}
  .word2 {
    padding-left: 6rem;
  }

  #hero__animation {
    grid-area: 2/4/6/6;
    width: fit-content;
    height: fit-content;
  }

  .read-more {
    display: none !important;
  }
  
  .expandable-text p {
    overflow: hidden;
    line-height: 1.4;
    max-height: none;
    transition: max-height 0.3s ease;
  }
  
  #roughstart {
    font-size: 1.1rem;
    padding: 0;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(6, 10.5rem);
  }
  
  #roughstart h2 {
    text-align: start;
    font-size: 3rem;
    grid-area: 1/1/2/4;
  }
  
  #exp1{
    grid-area: 1/1/5/3;
    padding: 8rem 2rem 2rem 2rem;
  }
  
  #exp2 {
    grid-area: 2/3/4/6;
    padding:0rem 3rem;
  }
  
  #exp3 {
    padding: 0rem 3rem ;
    grid-area: 4/3/7/6;
  }
  
  .metaltype {
  grid-area: 5 / 1 / 6 / 3;
  }
  .metaltype img {
    margin: 0;
    width: fit-content;
  }
  
  .exploremap {
    grid-area: 6/3/7/6;
  }

  .marker {
    r: 1.2rem;
    fill: #1E1919;
    transition: all ease-in 0.3s;
  }

  .marker:hover {
    fill: #F1582A;
  }

  #antwerp {
    position: relative;
    margin-top: 10rem;
  }

  #plantin-in-antwerp {
      position: relative;
  }

.taptostart {
  display: none; 
}

#interactive-map {
  display: block;
  position: relative; 
  height: auto;
  z-index: 1; 
}

.info-panel {
  display: flex;
  flex-direction: column;
  position: absolute; /* Keep this */
  left: auto;
  top: 0;
  right: 0;
  transform: translateY(20%);
  width: 25rem; /* Fixed width */
  height: 45rem; /* Fixed height */
  border-radius: 0;
  background:none;
  box-shadow: none;
  z-index: 10;
  overflow: hidden;
}

.panel-year {
  font-size: 2.5rem;
  font-family: var(--font-headers);
  font-variation-settings: "opsz" 500, "wght" 700;
}

.panel-title {
  font-size: 1.2rem;
  font-variation-settings: "opsz" 500, "wght" 700;
  letter-spacing: 0.1rem;
  text-align: start;
  margin: 0;
  padding: 0;
}

.panel-location {
  font-size: 1rem;
  font-variation-settings: "wdth" 100, "wght" 100;
  letter-spacing: 0.05rem;
  padding-bottom: 0.5rem;
  border-bottom: #E7E7E7 solid 1px;
}

.panel-desc {
  padding-top: 0.5rem;
  line-height: 1.25;
  font-size: 1rem;
  font-variation-settings: "wdth" 100, "wght" 300;
  letter-spacing: 0.05rem;
}

.panel-container {
  color: var(--color-bright-text);
  background: var(--color-text);
  width: 22rem; /* Fixed width */
  height: 32rem; /* Fixed height */
  padding: 1rem 2rem 1rem 2rem;
}

  .panel-imgcontainer{
    margin: 3rem 0 0 5rem;
    background-color:var(--color-hg);
    width:20rem;
    height: fit-content;
    border: var(--color-bg) solid 5px;
  }

  .panel-img {
      max-width: 50%;
      max-height: 12rem;
      margin: 1rem 1rem 0 1rem;
  }

  .panel-ref {
    color:var(--color-text);
    font-variation-settings: "wdth" 100, "wght" 100;
    margin:0.5rem 0 1rem 1rem;
    max-width: 30ch;
    font-size: 0.8rem;
    font-style: italic;
  }

  .map-desc {
    max-width: 50ch;
  }

  #workshop {
    margin-top: 10rem;
  }

  #workshop h2:nth-child(1) {
    text-align: start;
  }
  .workshop-container {
    line-height: 1.4;
    font-variation-settings: "wdth" 100, "wght" 300;
  }
.workshop-desc1, .workshop-desc3 {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.workshop-desc1 p{
  max-width: 70ch;
}
.workshop-desc2 {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem 1rem 1rem;
}

.workshop-desc2 p {
  max-width: 70ch;
}

.workshop-desc2 p:nth-child(2){
  margin-left: 20rem;
  padding: 1rem;
}

.stats {
  padding: 0;
  margin-left: 5rem;
  max-width: 22rem;
}

.swiper-slide-active .role-desc {
  padding-top: 1rem;
  width: 150%;
}


  #bible {
    margin: 8rem 0 8rem 0;
  }

  #bible h2 {
    margin: 0;
    margin-left: 2rem;
    text-align: start;
  }

  #bible p {
    margin-left: 1rem;
    max-width: 60ch;
  }

  #bible img {
    width: 20rem;
  }

  .bible-learn {
    padding: 0;
    max-width: 40ch;
    margin-left:2rem ;
  }

  .bible-right {
    margin:0 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .bible-container {
    display: flex;
    justify-content: space-around;
  }

  .bible-cta {
    align-items: flex-start;
  }

  .cta-plan{
width:20rem;
  }

  .cta-story {
    width: 20rem;
    margin-left: 10rem;
  }

  .connections-title {
    text-align: start;
    margin: 0rem 0rem 1rem 2rem;
    display: flex;
    align-items: center;
    gap:1rem;
  }

  .connections-desc {
    padding: 0;
    margin: 0 0 2rem 2rem;
    font-size: 1.2rem;
    line-height: 1.35;
    max-width: 60ch;
    font-variation-settings: "wdth" 100, "wght" 300;

  }
  #letters {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
  }

  #letter-container {
    width: 20rem;
    justify-content: center;
    gap: 2rem;
  }

  .letter {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.2s ease;
  }

  .detail-about h2 {
    font-size: 1.5rem;
  }

.detail-about p {
  margin-top: 1rem;
font-size: 1rem;
}

  .letter-title {
    font-size: 1rem;
    padding: 1rem;
  }

  .letter:active {
    cursor: grabbing;
  }
  .detail-view {
    height: 100%;
    max-width: 35rem;
    padding: 2rem;
    justify-content: space-between;
  }

  #drop-zone {
    font-size: 1.5rem;
    font-variation-settings: "wdth" 100, "wght" 100;
    width: 50vw;
    height: 34rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.3s ease;
  }

  #drop-zone.dragover {
    border-color: var(--color-highlight);
  }


  #legacy {
    margin-top: 10rem;
  }
#legacy h2 {
  text-align: start;
  margin: 0 0 0 1rem;
}

.legacy-stats {
  flex-direction: row;
}

.legacy-stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 90vw;
  margin: 1rem;
  font-size: 1.4rem;
  line-height: 1.5;
  font-variation-settings: "wdth" 100, "wght" 600;
}

#legacy p:nth-child(2) {
  max-width: 60ch;
}


#legacy p:nth-child(4) {
  max-width: 60ch;
  margin-left: 10rem;
}

#stories {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#stories p {
  text-align: center;
  max-width: 50ch;
}

.stories-container div {
  width: 12rem;
}


  footer {
    margin-top: 15rem;
  }
  
  .footer-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  } 
  
  .museum-info {
    gap: 3rem;
  }
  
  footer img {
    max-width: 50vw;
    height: auto;
  }
}
@media (min-width: 1000px) {
  .info-panel {
    width: 30rem; /* Fixed width */
    height: 40rem; /* Fixed height */
    transform: translateY(30%);
  }

  .panel-container {
    color: var(--color-bright-text);
    background: var(--color-text);
    width: 27rem; /* Fixed width */
    height: 40rem; /* Fixed height */
  }
  .panel-imgcontainer{
    background-color:var(--color-hg);
    width:20rem;
    height: fit-content;
    margin-left: 10rem;
    border: var(--color-bg) solid 5px;
  }

  .panel-img {
      max-width: 80%;
      margin: 1rem;
  }

  .map-desc-desk {
    display: block;
    padding:1rem;
    margin-top: 5rem;
    max-width: 60ch;
    font-size: 1rem;
    font-variation-settings: "wdth" 100, "wght" 300;
    max-width: 60ch;
    line-height: 1.5;
  }

  .map-desc-container {
    display: flex;
  }
}
@media (min-width: 1120px) {

  .map-desc-container {
    padding-top: 1rem;
  }
  
  .map-desc-desk {
    max-width: 50ch;
    display: block;
    margin-top: 0;
    border-left: var(--color-text) solid 1px;
  }
  }
@media (min-width: 1200px) {


  .nav__toggle {
    display: none;
  }

  .nav__close {
    display: none;
  }

  .nav__menu {
    display: flex;
    flex-direction: row;
    position: relative;
    height: fit-content;
    justify-content: space-around;
    width: 100%;
    transform: translateX(0);
    padding: 0;
    background: none;
  }

  .nav__list {
    width: 80%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .nav__list li {
    margin: 0;
  }
  .nav__list a {
    font-size: 0.6rem;
    letter-spacing: 0.05rem;
  }

  .nav__cta{
    display: none;
  }

  h1 {
    font-size: 10rem;
    grid-area: 1/1/4/3;
  }

  header {
    display:grid;
    grid-template-columns: repeat(5,20vw);
    grid-template-rows: repeat(3, 33vh);
    margin-bottom: 2rem;
  }

  #hero__animation {
    padding: 0;
    grid-area: 1/4/3/6;
    width: fit-content;
    height: fit-content;
  }


  .header_intro {
    grid-area: 2/ 1 /4 / 4;
    margin-top: 10rem;
    font-size: 1.5rem;
    max-width: 60ch;
  }
  .header_desc {
    grid-area: 3/ 2 /4 / 4;
    max-width: 60ch;
    font-size: 1.4rem;
  }


  #roughstart {
    font-size: 1.1rem;
    padding: 0;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(5, 10.5rem);
  }

  #exp3 {
    padding: 0rem 3rem;
    grid-area: 3 / 3 / 7 / 6;
}

.metaltype {
  grid-area: 4 / 1 / 6 / 3;
}

  .workshop-container {
    margin: 0;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5,20vw);
    grid-template-rows: repeat(3, 22rem);
    row-gap: 2rem;
    font-size: 1rem;
  }

  .swiper-container {
    display: none;
  }

  .role-card {
    position: relative;
    width: 18vw; 
    height: auto; 
    perspective: 1000px; 
    margin: 0; 
    padding: 0; 
  }

  .role-card .front,
  .role-card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.2rem;
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Centers content vertically */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .role-card .front {
    background: var(--color-third);
    z-index: 2; 
    transform: rotateY(0deg);
  }

  .role-card .back {
    background: var(--color-bg);
    color: var(--color-text);
    z-index: 1; /* Back starts underneath */
    transform: rotateY(180deg);
    text-align: center;
    padding: 1rem; /* Optional padding for content */
  }


  .role-card:hover .front {
    transform: rotateY(180deg);
  }

  .role-card:hover .back {
    transform: rotateY(0deg);
  }

  .role-card img {
    max-width: 90%; /* Ensures images fit within the card */
    max-height:15rem; /* Prevents overly large images */
    margin: 1rem;
  }

  .role-card h2 {
    font-size: 1.2rem;
    width: 18vw;
    text-transform: uppercase;
    font-family: "thermal-variable", sans-serif;
    text-align: center;
    background-image: url("../assets/svg/decowork.svg");
    background-size:cover;
    background-color: var(--color-hg);
    padding: 1.5rem 0; /* Add spacing only as needed */
    margin: 0;
  }

  .role-card p {
    font-size: 1rem;
    line-height: 1.4;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
  }

  .workshop-desc2 p:nth-child(2) {
    margin: 0;
    padding: 0;
  }
  .workshop-desc2 {
    justify-content: space-around;
  }

  
  .workshop-desc1, .workshop-desc3 {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .workshop-desc1 p, .workshop-desc3 p {
    padding: 1rem;
  }

.workshop-desc1 {
  grid-area:1 /4 /1 /6 ;
  max-width: 70ch;
}

.workshop-desc2 {
  grid-area: 2 / 1 / 2 / 3;
}


.workshop-desc3 {
  grid-area: 3 / 4 / 3 / 6;
  max-width: 70ch;
}

  .stats {
    margin: 0;
  }

  #bible {
    margin-top: 12rem;
  }

  .bible-learn {
    margin: 0;
  }

  .bible-container {
    margin-top: 2rem;
    justify-content: space-evenly;
  }

footer .cta-plan {
  width:30rem;
  margin-top: 1rem;
}

footer {
  padding: 2rem;
}

}
@media (min-width: 1400px) {
  .bible-container {
    margin-top: 2rem;
    justify-content: space-between;
  }
  #bible img {
    width: 40vw;
  }

  .bible-right {
    margin: 0 25rem 0 0;
    justify-content: flex-start;
    gap: 2rem;
  }

  .cta-story{
    margin: 0;
  }
  #roughstart {
    font-size: 1.1rem;
    padding: 0;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(5, 10rem);
  }

  #roughstart h2 {
    margin-left: 2rem;
  }

  #exp1 {
    grid-area: 1 / 1 / 5 / 4;
    padding: 5rem 2rem 2rem 2rem;
    max-width: 50ch;
}

#exp2 {
  grid-area: 1 / 3 / 3 / 5;
  padding: 5rem 2rem 2rem 0rem;
  max-width: 60ch;

}

#exp3 {
  padding: 0rem 4rem 2rem 0rem;
  grid-area: 3 / 3 / 5 / 6;
  max-width: 60ch;

}
.exploremap {
  grid-area: 5 / 3 / 7 / 6;
}

.info-panel {
  width: 35rem; /* Fixed width */
  height: 50rem; /* Fixed height */
  transform: translateY(30%);
}

.panel-container {
  width: 32rem; /* Fixed width */
  height: 45rem; /* Fixed height */
}

.panel-year {
  font-size: 4rem;
}

.panel-title {
  font-size: 2.5rem;
}
.panel-imgcontainer{
  width:25rem;
  height: fit-content;
  margin-left: 10rem;
  border: var(--color-bg) solid 5px;
}

.panel-img {
    max-width: 80%;
    margin: 1rem;
}

.panel-desc {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.map-desc-container {
  margin-left: 1rem;
}

}
@media (min-width: 1600px) {
  .info-panel {
    width: 40rem; /* Fixed width */
    height: 50rem; /* Fixed height */
    transform: translateY(50%);
  }

  .panel-container {
    width: 37rem; /* Fixed width */
    height: 48rem; /* Fixed height */
  }

  .panel-imgcontainer{
    width:32rem;
    height: fit-content;
    margin-left: 10rem;
    border: var(--color-bg) solid 5px;
  }

}
